@import url("https://use.typekit.net/jzr5eit.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
}

::selection {
  background-color: rgb(239 68 68);
  color: white;
}

/* Radar chart styling */

.shape {
  fill-opacity: 0.05;
  stroke-width: 2px;
  stroke: #a3a3a3;
  transition: all 0.2s ease-in-out;
}

.shape:hover {
  fill-opacity: 0.1;
}

.caption {
  font-family: 'elza', sans-serif;
}

.scale {
  fill: none;
}

.react-tooltip {
  font-size: 0.9rem !important;
  border-radius: 0.3rem !important;
  padding: 0.3rem 0.8rem !important;
}

@media (prefers-color-scheme: dark) {
  html {
    background: rgb(23 23 23);
  }

  .shape {
    stroke: #fafafa;
    fill: #fafafa;
  }

  .caption {
    fill: #a3a3a3;
    text-shadow: #262626 1px 1px 0;
  }
}